<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Doneski: <%= title %></title>
		<meta name="keywords" content="todo list, productivity, doneski"/>
		<meta name="description" content="Doneski is an app for to-do lists, simple as that. It's dirt simple, easy to use, and works seriously everywhere." />
		<meta name="author" content="Seabright Studios Ltd."/>
		
		<meta name="robots" content="noindex">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="apple-touch-icon" href="/images/icon-dark.png" />
		<link rel="apple-touch-startup-image" href="/images/splash.png" />
		
		<link rel="icon" href="data:image/png;base64,<%= $favicon %>" type="image/png" />
		<link rel="shortcut icon" href="data:image/png;base64,<%= $favicon%>" type="image/png" />
		<link href="/stylesheets/doneski.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/browser.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/mobile.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/orange.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/orange-mobile.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/static.css" media="screen" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-2243115-15']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body class="loaded">
		<content>
			<header>
				<logo>Doneski</logo><nav>&nbsp;/&nbsp;<%= title %></nav>
			</header>
			<section>
				<%= yield %>
			</section>
		</content>
		<script language="javascript">
		window.scrollTo(0,0);
		</script>
	</body>
</html>